.eduadminLogin {
	text-align: right;
	padding: 0.4em;
	border: 1px solid #ddd;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.eduadmin .myReservationsTable {
	width: 100%;
}

.eduadmin .title {
	display: table-row;
}

.eduadmin .title::before, .eduadmin .title::after {
	clear: both;
}

.eduadmin .title .dateInfo {
	clear: both;
}

.eduadmin.loginForm .loginBox {
	margin-left: auto;
	margin-right: auto;
}

.eduadmin.loginForm .loginBox .loginButton {
	width: 45%;
	float: left;
}

.eduadmin.loginForm .loginBox .forgotPasswordButton {
	width: 45%;
	float: right;
}

.eduadmin .eduadminCompanyInformation
{
	float: left;
	width: 49%;
}

.eduadmin .eduadminInvoiceInformation
{
	float: left;
	width: 49%;
}
.eduadmin h3
{
    display: block;
    margin-top: 1em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
}

.eduadmin .backLink
{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	display: block;
}

.eduadmin .bookButton
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;
	text-align: center;
}

.eduadmin input[type="search"]
{
	width: 100%;
	padding: 0.5em;
	margin-bottom: 0.5em;
	display: inline-block;
}

.eduadmin .search-form select
{
	padding: 0.5em;
	margin-bottom: 0.5em;
	display: inline-block;
}

.eduadmin .search-form input[type="submit"]
{
	padding: 0.5em;
	margin-bottom: 0.5em;
	display: inline-block;
}

.eduadmin .dateInput
{
	display: inline-block !important;
	width: auto !important;
}

.eduadmin .objectItem:first-child
{
	margin-top: 0;
}

.eduadmin .questionDate, .eduadmin .questionTime
{
	display: inline-block;
	width: 45%;
}

.eduadmin .questionRadioHorizontal
{
	display: inline-block;
	min-width: 10%;
}

.eduadmin .courseContainer
{
	width: 100%;
	margin: auto;
	font-size: 14px;
}

.eduadmin .objectBlock
{
	padding-top: 1em;
	display: block;
	width: 19em;
	text-align: center;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding-bottom: 4em;
	float: left;
	margin-left: 1.0em;
	margin-bottom: 1.0em;
	position: relative;
	padding-left: 1em;
	padding-right: 1em;
}

.eduadmin .objectBlock .objectDescription
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eduadmin .objectBlock .objectName
{
	font-size: 1.2em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eduadmin .objectBlock .objectImage
{
	min-height: 9em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-top: -1em;
	margin-bottom: 0.5em;
	display: block;
	width: 100%;
}

.eduadmin .objectBlock .objectBook
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3em;
	line-height: 3em;
	vertical-align: middle;
	width: 100%;
}

.eduadmin .objectBlock .objectBook a
{

	text-align: center;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
}

.eduadmin .objectItem
{
	margin-top: 1em;
	padding-bottom: 1em !important;
	border-bottom: 1px solid #c9c9c9;
	position: relative;
	vertical-align: top;
}

.eduadmin .objectItem:before, .eduadmin .objectItem:after
{
	display: table;
	content: " ";
}

.eduadmin .objectItem:after
{
	clear: both;
}

.eduadmin .objectItem .objectName
{
	font-size: 1.2em;
}

.eduadmin .objectItem .objectImage
{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 12%;
	float: left;
	min-height: 8em;
	max-height: 8em;
	margin-right: 1%;
}

.eduadmin .objectItem .objectInfoHolder
{
	float: left;
	width: 87%;
}

.eduadmin .objectItem .objectBook
{
	position: absolute;
	right: 0em;
	top: 1em;
}

.eduadmin .objectItem .objectBook a
{
	margin: 0;
}

.eduadmin .textblock
{
}

.eduadmin .textblock ul
{
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

.eduadmin .textblock li
{
	display: list-item;
}

.eduadmin .eventInformation
{
	clear: both;
}

.eduadmin .eventDays
{
	border-top: 1px solid #c9c9c9;
	margin-top: 2em;
}

.eduadmin .eventDays .eventSeparator
{
	margin-top: 0.5em;
	font-size: 1.5em;
}

.eduadmin .eventDays .eventItem
{
	border-bottom: 1px solid #c9c9c9;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.eduadmin .eventDays .eventShowMore
{
	text-align: center;
	padding: 0.3em;
	border-bottom: 1px solid #c9c9c9;
}

.eduadmin .eventDays .eventItem.showMoreHidden
{
	display: none;
}

.eduadmin .eventDays .eventItem .eventDate
{
	display: inline-block;
	width: 33.3%;
}

.eduadmin .eventDays .eventItem .eventDate.noCity
{
	width: 45%;
}

.eduadmin .eventDays .eventItem .eventStatus
{
	display: inline-block;
	width: 23.3%;
}
.eduadmin .eventDays .eventItem .eventStatus.noCity
{
	width: 35.3%;
}

.eduadmin .eventDays .eventItem .eventCity
{
	display: inline-block;
	width: 30.3%;
}

.eduadmin .eventDays .eventItem .eventBook
{
	display: inline-block;
	width: 11%;
	text-align: right;
}

.eduadmin .eventDays .eventItem .eventBook.noCity
{
	width: 17%;
}

.eduadmin .eventDays .eventItem .eventBook .button
{
	margin: 0;
}

.eduadmin .inputLabel, .eduadmin .inputHolder
{
	display: inline-block;
}

.eduadmin form label
{
	display: block;
}

.eduadmin .inputLabel
{
	margin-right: 1em;
	width: 30%;
	vertical-align: top;
	margin-top: 1.0em;
}

.eduadmin .inputHolder
{
	width: 60%;
}

.eduadmin .removeParticipant
{
	margin-bottom: 0;
	cursor: pointer;
}

.eduadmin .inputHolder input[type="text"],
.eduadmin .inputHolder input[type="tel"],
.eduadmin .inputHolder input[type="url"],
.eduadmin .inputHolder input[type="email"],
.eduadmin .inputHolder textarea
{
	width: 100%;
	display: inline-block;
}

.eduadmin .inputHolder input[type="number"]
{
	max-width: 8em;
	text-align: right;
	display: inline-block;
}

.eduadmin .edu-modal
{
	display: none;
	min-height: 5em;
	background-color: #FFFFFF;
	color: #000000;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
	padding: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.eduadmin .edu-modal.warning
{
	background-color: #ffe4e1;
	color: #8b0000;
}

.eduadmin .sumTotal
{
	float: right;
	margin-right: 9%;
	text-align: right;
}

.eduadmin .participantItem .removeParticipant
{
	float: right;
	margin-right: 9%;
	text-align: right;
	font-size: 0.8em;
}

.eduadmin .textblock.leftBlock
{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.eduadmin .textblock.rightBlock
{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

/* Mobil-css för när vi ska fixa till så att den är responsiv */
@media (max-width: 690px)
{
	.eduadmin .objectItem .objectDescription,
	.eduadmin .objectItem .dayInfo
	{
		/*display: none;*/
	}
	.eduadmin .objectItem .objectBook
	{
		display: none;
	}

	.eduadmin .objectBlock
	{
		padding-top: 1em;
		display: block;
		width: 100%;
		text-align: center;
		box-shadow: 0 0 5px rgba(0,0,0,0.4);
		padding-bottom: 4em;
		float: left;
		margin-left: 0;
		margin-bottom: 1.0em;
		position: relative;
	}

	.eduadmin .objectItem .objectName
	{
		display: table-cell;
		vertical-align: middle;
		/*height: 3.7em;*/
	}

	.eduadmin .inputLabel,
	.eduadmin .inputHolder
	{
		display: block;
	}

	.eduadmin .inputLabel:not(.noHide)
	{
		width: 100%;
		visibility: hidden;
		height: 0;
	}

	.eduadmin .inputLabel.noHide
	{
		width: 100%;
	}

	.eduadmin .inputHolder
	{
		width: 100%;
	}

	.eduadmin .eventDays
	{
		border-top: 1px solid #c9c9c9;
		margin-top: 2em;
	}

	.eduadmin .eventDays .eventItem
	{
		border-bottom: 1px solid #c9c9c9;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.eduadmin .eventDays .eventItem .eventDate
	{
		display: block;
		font-size: 1.3em;
		width: 100%;
	}

	.eduadmin .eventDays .eventItem .eventStatus
	{
		display: inline-block;
		width: 50%;
		text-align: right;
	}

	.eduadmin .eventDays .eventItem .eventCity
	{
		display: inline-block;
		width: 48%;
	}

	.eduadmin .eventDays .eventItem .eventBook
	{
		display: block;
		width: 100%;
		text-align: center;
	}
	.eduadmin .eventDays .eventItem .eventBook .button
	{
		width: 100%;
		text-align: center;
	}

	.eduadmin .bookButton
	{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
		text-align: center;
	}

	.eduadmin .sumTotal
	{
		margin-right: 0;
		text-align: right;
	}

	.eduadmin .participantItem .removeParticipant
	{
		margin-right: 0;
	}

	.eduadmin.loginForm .loginBox {
		margin-left: auto;
		margin-right: auto;
	}

	.eduadmin.loginForm .loginBox .loginLabel {
		display: none;
	}

	.eduadmin.loginForm .loginBox .loginButton {
		width: 100%;
		clear: both;
	}

	.eduadmin.loginForm .loginBox .forgotPasswordButton {
		width: 100%;
		clear: both;
	}

	.eduadmin .eduadminCompanyInformation
	{
		float: none;
		width: 100%;
	}

	.eduadmin .eduadminInvoiceInformation
	{
		float: none;
		width: 100%;
	}

	.eduadmin .profileSaveButton
	{
		width: 100%;
	}
}